<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ReplayFolder" value="C:\Users\Jorddy\Documents\Heroes of the Storm\Accounts\53574225\1-Hero-1-372471\Replays\Multiplayer" />
  </appSettings>
</configuration>